<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMKMx8XJgzhGGvUfMspYfYfc14tKGM9YE</string>
	<key>GCM_SENDER_ID</key>
	<string>954112658260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.g21235949MovieApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nutflix-b4527</string>
	<key>STORAGE_BUCKET</key>
	<string>nutflix-b4527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954112658260:ios:dcd2a1e466465d37b596c1</string>
</dict>
</plist>